<div *ngIf="loading">Searching for site ...</div>
<div *ngIf="!loading && mathingSites.length === 0">Site {{site}} not found</div>
<div *ngIf="!loading && mathingSites.length > 0">
    <div class="card" style="width: 18rem;" *ngFor="let site of mathingSites">
        <div class="card-body">
          <h5 class="card-title">{{site.SiteName}}</h5>
          <p class="card-text">{{site.Subscription}}</p>
          <p class="card-text">{{site.ResourceGroupName}}</p>
          <p class="card-text">{{site.StampName}}</p>
          <a [routerLink]="['/subscriptions', site.Subscription, 'resourceGroups', site.ResourceGroupName, 'sites', site.SiteName]" class="btn btn-primary">Select</a>
        </div>
      </div>
</div>