<div class="container-fluid">
    <div class=" col-md-2">
        <div class="row-fluid">
            <div class="sidebar-nav">
                <ul class="commits-table">
                    <li *ngFor="let commit of commitsList.slice().reverse()" [class.selected]="commit === selectedCommit"
                        (click)="setCodeDiffView(commit)">
                        <span class="badge"> {{commit.author}} </span> {{commit.dateTime}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="noCommitsHistory">
        <h1></h1>
        <p>No commits history so far..</p>
    </div>

    <div>
        <loader-view *ngIf="!noCommitsHistory && loadingChange<1" message="Loading Changes...">
        </loader-view>
    </div>
    <div *ngIf="!noCommitsHistory && loadingChange>1" class="col-md-10" style="padding-left: 0">
        <ngx-monaco-diff-editor class="diff-view" [options]="options" [(originalModel)]="originalModel"
            [(modifiedModel)]="modifiedModel"></ngx-monaco-diff-editor>
    </div>
</div>