
.diff-view{
  height: calc(100vh - 100px);
}
 
a:active {
  color: blue;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.commits-table {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.commits-table li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .7em .5em;
  padding: .3em 0;
  height: 30px;
  border-radius: 4px;
}
.commits-table li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.commits-table li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.commits-table .text {
  position: relative;
  top: -3px;
}
.commits-table .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 30px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}