label{
	display: inline-block;
	padding: 12px 0px;
    vertical-align: middle;
    color:darkgray;
}

li .reportlink {
    color: blue!important;
}

.nav>li .reportlink:hover {
    text-decoration: underline!important;
    color : rgb(108, 2, 247)!important;
    background-color: white
}