<div style="margin:5px 0px 0px 20px">
  <div class=" container" style="margin-left: 0px; padding-left: 0px; width: 100%">
    <div class="col-sm-6 titleElements">
        <h3 style="margin-top:8px">{{reportName}}</h3>
      </div>
    <div class="col-sm-1 titleElements">
      <label>Filtered by </label>
    </div>
    <div class="col-sm-5 titleElements">
      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{selectedTimeRange}}
            <span class="caret" style="position: right;"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let key of timeRangeKeys">
              <a (click)="setTimeRange(key)">{{key}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{selectedDataSource}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let key of dataSourceKeys">
              <a (click)="setDataSource(key)">{{key}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="reportlink" (click)="refresh()">Apply Filter
          </a>
        </li>
      </ul>
    </div>
  </div>
  <detector-view [detectorResponse]="systemInvokerResponse" [error]="error" [startTime]="startTime" [endTime]="endTime" [isSystemInvoker]="true" [authorInfo]="authorInfo" [feedbackDetector]="detectorId">
  </detector-view>
</div>