<div>
  <div class="detector-container" *ngFor="let viewModel of detectorViewModels">
    <div class="detector-header"  (click)="toggleDetectorHeaderStatus(viewModel)">
      <div class="status-icon">
          <status-icon [loading]="viewModel.loadingStatus" [status]="viewModel.status" [size]="20"></status-icon>
      </div>
      <div class="detector-title">
        {{viewModel.title}} <span style="margin-left: 20px;font-size: 16px" *ngIf="viewModel.loadingStatus == LoadingStatus.Failed">Error: Click to retry</span>
      </div>
      <div class="expand-icon">
        <span class="fa" [class.fa-angle-down]="!viewModel.expanded" [class.fa-angle-up]="viewModel.expanded"></span>
      </div>
    </div>
    <div style="overflow-y: hidden;height:0px" [@expand]="viewModel.expanded ? 'shown' : 'hidden'">
      <div class="detector-body">
        <detector-view [insideDetectorList]="true" [parentDetectorId]="detectorEventProperties.DetectorId" [detectorResponse]="viewModel.response" [startTime]="startTime" [endTime]="endTime"></detector-view>
      </div>
    </div>
  </div>
</div>