.detector-container {
    width: 100%;
    margin-bottom: 15px;
}

.detector-header {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #b5b5b5;
    height: 40px;
}

.detector-body {
    padding: 15px;
}

.expand-icon {
    padding: 0px 30px;
}

.detector-title {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.status-icon {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 70px;
    height:100%;
    
}

.fa-circle-o-notch {
    color: #828282;
    font-size: 16px;
}