<!-- <div class="side-nav">
    <ul style="list-style:none">
        <li (click)="navigate('frontends')"><a>Front Ends</a></li>
        <li (click)="navigate('cpu')"><a>CPU</a></li>
    </ul>
</div> -->

<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <resource-menu-item></resource-menu-item>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" *ngFor="let navItem of sideNavItems">
        <a class="nav-link nav-link-collapse" (click)="navItem.toggleExpanded()" [ngClass]="{'collapsed': !navItem.expanded }">
            <i class="fa fa-fw" [ngClass]="navItem.symbol"></i>
            <span class="nav-link-text">{{navItem.name}}</span>
        </a>
        <ul class="sidenav-second-level collapse" [class.sidenav-item-selected]="navItem.selected" [ngClass]="{'show': navItem.expanded }" id="collapseComponents">
            <li *ngFor="let subItem of navItem.subItems">
                <a (click)="navigate(subItem)">{{subItem.displayName}}</a>
            </li>
        </ul>
    </li>
</ul>