<aside class="main-sidebar">

    <section class="sidebar">

        <div class="user-panel" [class.active]="doesMatchCurrentRoute('home')" (click)="navigateTo('home')">
            <div class="pull-left image">
                <img [src]="resourceService.imgSrc" class="resource-logo" style="max-width:25px">
            </div>
            <div class="info">
                <p>{{resourceService.getResourceName()}}</p>
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">CREATE</li>
            <li (click)="navigateTo('create')" [class.active]="doesMatchCurrentRoute('create')">
                <a>
                    <i class="fa fa-fw fa-plus"></i>
                    <span>New Detector</span>
                </a>
            </li>

            <li class="header">DOCUMENTATION</li>
            <li>
                <a target="_blank" href="https://app-service-diagnostics-docs.azurewebsites.net/api/Diagnostics.ModelsAndUtils.Models.Response.html#extensionmethods">
                    <i class="fa fa-link"></i>
                    <span>Online Documentation</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/Azure/Azure-AppServices-Diagnostics/tree/master/data/samples/Diagnostics.Samples">
                    <i class="fa fa-link"></i>
                    <span>Code Samples</span>
                </a>
            </li>


            <li class="header">DETECTORS</li>
            <form class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search Detectors..." [(ngModel)]="searchValue">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <li *ngFor="let detector of detectors | detectorSearch:searchValue" [class.active]="doesMatchCurrentRoute('detectors/' + detector.name) || doesMatchCurrentRoute('detectors/' + detector.name + '/edit')">
                <a (click)="navigateTo(detector.link)">
                    <span>{{detector.displayName}}</span>
                </a>
            </li>
        </ul>
    </section>
</aside>