<aside class="main-sidebar">

    <section class="sidebar">

        <div class="user-panel" [class.active]="doesMatchCurrentRoute('home')" (click)="navigateTo('home')">
            <div class="pull-left image">
                <img [src]="resourceService.imgSrc" class="resource-logo" style="max-width:25px">
            </div>
            <div class="info">
                <p>{{resourceService.getResourceName()}}</p>
            </div>
        </div>
        <!--THIS IS FOR TESTING LIGHT THEME-->
        <!-- <collapsible-menu theme="light">
            
            <section-divider label="Availability and Performance" [collapsible]="true">
                <collapsible-menu-item *ngFor="let item of this.category.subItems | search:searchValue" [menuItem]="item"></collapsible-menu-item>
            </section-divider>

            <section-divider label="Configuration and Management" [collapsible]="true">
                <collapsible-menu-item *ngFor="let item of this.category2.subItems | search:searchValue" [menuItem]="item"></collapsible-menu-item>
            </section-divider>
            
        </collapsible-menu> -->

        <collapsible-menu theme="dark" [height]="contentHeight">
            <search-box [(searchValue)]="searchValue"></search-box>
            <menu-scroll>
                <section-divider label="Create">
                    <collapsible-menu-item [searchValue]="searchValue" [menuItem]="createNew"></collapsible-menu-item>
                </section-divider>
                <section-divider label="Documentation">
                    <collapsible-menu-item *ngFor="let doc of documentation" [searchValue]="searchValue" [menuItem]="doc"></collapsible-menu-item>
                </section-divider>
                <section-divider label="Detectors">
                    <collapsible-menu-item *ngFor="let category of categories" [searchValue]="searchValue" [menuItem]="category"></collapsible-menu-item>
                </section-divider>
            </menu-scroll>


        </collapsible-menu>
    </section>
</aside>