<div class="view-container">
        <loader-view *ngIf="!code" message="Starting onboarding flow ..."></loader-view>

        <div *ngIf="code" class="onboarding-container">
            <split [direction]="horizontal" gutterSize="8" gutterColor="#dff0ff">
              
                <split-area size="60">
        
                    <split direction="vertical" gutterSize="8" gutterColor="rgb(249, 233, 212)">
                        <split-area size="85">
                          <div class="code-container-header">
        
                            <div class="file-tab active">
                                {{fileName}}
                            </div>
        
                            <div class="file-tab">
                                wiki.md (coming soon)
                            </div>
        
                            <div (click)="publish()" class="action-button publish-button" [ngClass]="{'disabled': publishButtonDisabled }">
                                <i class="fa fa-cloud-upload"></i>
                                {{publishButtonText}}
                            </div>
        
                            <div (click)="runCompilation()" class="action-button run-button" [ngClass]="{'disabled': runButtonDisabled }">
                                <i [ngClass]="runButtonIcon"></i> 
                                {{runButtonText}}
                            </div>
        
                          </div>

                          <ngx-monaco-editor style="height:94%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
                          
                        </split-area>
                        <split-area size="15">
                            <div style="padding:10px">
                                <div *ngFor="let item of buildOutput" style="font-size:14px;color:#6b6b6b">{{item}}</div>
                            </div>
                        </split-area>
                    </split>
        
                </split-area>
                <split-area size="40">
                    <div style="background-color:#9a985e;height:25px;margin-bottom:10px;color:white;font-size:12px;">
                        <div style="
                        float: left;
                        margin-left:5px;
                        font-size: 12px;
                        height: 100%;
                        width: auto;
                        padding: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        border-radius: 5px;
                        color:white;">
                        
                      </div>

                    </div>

                    <detector-view *ngIf="queryResponse" [detectorResponse]="queryResponse.invocationOutput" [error]="errorState"></detector-view>

                </split-area>
        
            </split>
        </div>
</div>

