.view-container{
    width: 100%;
}

.onboarding-container{
    height:100%;
    background-color: white;
}
.alert-container{
    font-size:14px;
}
.code-container-header{
    background-color:#7f5292;
    height:25px;
    margin-bottom:10px;
}

.file-tab{
    float: left;
    margin-left:5px;
    font-size: 12px;
    height: 100%;
    width: auto;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color:white;
    cursor:pointer;
}
.file-tab.active{
    background-color: #52335f;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.action-button{
    cursor:pointer;
    float:right;
    background-color:#424242;
    color:#e4e4e4;
    height:100%;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    font-size:12px;
    margin-left:5px;
}
.action-button.disabled{
    cursor:not-allowed;
    background-color:#8e7898;
    color:#c7c7c7;
}
.action-button.publish-button > i{
    color:#00bef2;
}
.action-button.disabled.publish-button > i{
    color:#00a6d4;
}
.action-button.run-button > i{
    color:#03dc03;
}
.action-button.disabled.run-button > i{
    color:#00bb00;
}
.compilation-output-container{
    padding:10px;
}
.compilation-output{
    font-size:14px;
    color:#6b6b6b;
}
.invocation-output-title-container{
    background-color:#2f6b87;
    height:25px;
    margin-bottom:10px;
    color:white;
    font-size:12px;
}
.invocation-title{
    float: left;
    margin-left:5px;
    font-size: 12px;
    height: 100%;
    width: auto;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color:white;
}