.no-padding {
    padding: 0px;
}

.card-description {
    background-color: #ffffff;
    padding: 0.5rem 1.25rem 0rem 1.25rem;
    font-size: 14px;
    border-bottom: none;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

.data-container-header {
    background-color: #0078d4;
    /* rgb(51, 122, 183); */
    border: 1px solid #5d6f98;
    color:white;
    min-height: 42px;
}

.data-container-body {
    border: 1px solid #dfdfdf;
    border-top: none;
}

.data-container-card {
    border: none;
}

.with-top-border {
    border-top: 1px solid #dfdfdf;
}