<div *ngIf="!showThanksMessage">
    <div class="review-header" *ngIf="!isModal">
        <h1>
            How helpful was this?</h1>
    </div>
    <div class="review-container">
        <div class="row" style="padding: 15px, 0px, 15px, 15px;max-width: 630px; border-right: rgb(169, 169, 169); margin-left:0px">
            <div class="col-md-4">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="full" for="star5" title="It is very helpful!- 5 stars" (click)="setStar(5, 'It is very helpful!')"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" (click)="setStar(4.5, 'It is very helpful!')">
                    <label class="half" for="star4half" title="It is very helpful! - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" (click)="setStar(4, 'It is helpful!')" />
                    <label class="full" for="star4" title="It is helpful! - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" (click)="setStar(3.5, 'It is helpful!')" />
                    <label class="half" for="star3half" title="It is helpful!- 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" (click)="setStar(3, 'It is okay.')" />
                    <label class="full" for="star3" title="It is okay. - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" (click)="setStar(2.5, 'It is okay.')" />
                    <label class="half" for="star2half" title="It is okay.- 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" (click)="setStar(2, 'It could be better.')" />
                    <label class="full" for="star2" title="It could be better. - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" (click)="setStar(1.5, 'It could be better.')" />
                    <label class="half" for="star1half" title="It could be better. - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" (click)="setStar(1, 'Not so helpful.')" />
                    <label class="full" for="star1" title="Not so helpful - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" (click)="setStar(0.5, 'Not so helpful.')" />
                    <label class="half" for="starhalf" title="Not so helpful - 0.5 stars"></label>
                </fieldset>
            </div>
            <div class="col-md-8" *ngIf="rating>0" style="font-size: 16px; font-weight:600; padding-top:8px">
                {{comments}}
            </div>
        </div>
        <textarea ref-textarea [(ngModel)]="feedbackText" style="width: 100%;max-width: 630px; min-height: 150px; border:white; margin-bottom:-5px; padding:5px 15px 0px 15px"
            placeholder="Write your review here to help us improve.">
    </textarea>
    </div>
    <div style="padding: 0px 0px 15px 10px">
        <button type="button" class="btn btn-primary" (click)="feedbackMessageSubmitted()" style="margin-top: 15px">
            Submit
        </button>
    </div>
</div>
<div *ngIf="showThanksMessage">
    <h1>Thanks for the feedback!</h1>
</div>