<div>
    <h1>How helpful was this?</h1>
    <div class="row">
        <div class="col-md-2">
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="full" for="star5" title="That's very helpful!- 5 stars"  (click)='setStar(5, "That is very helpful!")'></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" (click)='setStar(4.5)' />
                <label class="half" for="star4half" title="That's very helpful! - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" (click)='setStar(4)' />
                <label class="full" for="star4" title="That's helpful! - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" (click)='setStar(3.5)' />
                <label class="half" for="star3half" title="That's helpful! - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" (click)='setStar(3)' />
                <label class="full" for="star3" title="That's OK. - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" (click)='setStar(2.5)' />
                <label class="half" for="star2half" title="That's OK.- 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" (click)='setStar(2)' />
                <label class="full" for="star2" title="It could be better. - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" (click)='setStar(1.5)' />
                <label class="half" for="star1half" title="It could be better. - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" (click)='setStar(1)' />
                <label class="full" for="star1" title="Not so helpful - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" (click)='setStar(0.5)' />
                <label class="half" for="starhalf" title="Not so helpful - 0.5 stars"></label>
            </fieldset>
        </div>
        <div class="col-md-4">
            <p>
                {{rating}}/5  {{comments}}
            </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <br>
    <p>
        What can we improve?
    </p>
    <div style="padding:5px 5px 5px 0px">
        <!--<input type="text" [(ngModel)]="feedbackText" required> -->
        <textarea ref-textarea [(ngModel)]="feedbackText" rows="2" style="width: 100%;max-width: 400px"></textarea>
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-xs" (click)="feedbackMessageSubmitted()">
            Submit
        </button>
    </div>
</div>




