<ng-template #header>
  {{renderingProperties.title}}
</ng-template>

<data-container [headerTemplate]="header" [title]="renderingProperties.title">
  <div>
    <div class="label-container">
      <label>{{label}}</label>
    </div>
      <div class="dropdown-container">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle dropdown-button" type="button" id="dropdownMenuId" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <span [innerHtml]="selectedKey"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuId">
            <li *ngFor="let key of keys">
              <a (click)="selectKey(key)">
                  <span [innerHtml]="key"></span>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <hr class="line-break" />

  <div class="body-container">
      <div *ngFor="let data of selectedData" class="dynamic-data-container">
          <dynamic-data [diagnosticData]="data" [startTime]="startTime" [endTime]="endTime"></dynamic-data>
        </div>
  </div>
  
</data-container>