.dynamic-data-container {
    margin-bottom: 30px;
}
.label-container {
    display: inline-block;
    margin-right: 10px;
}
.label-container > label {
    color:#969696;
    font-weight: 500;
    font-size: 13px;
}
.dropdown-container {
    display: inline-block;
}
.dropdown-button{
    min-width: 100px;
}
.caret {
    margin-left:10px;
}
.line-break {
    margin: 10px 5px 25px 0px;
}
.body-container {
    padding-left:10px;
    padding-right: 10px;
}
.dropdown-menu {
    box-shadow:  1px 1px 18px #afafaf;
}