<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" [routerLink]="['/']"><span style="color:#ffb353">{{resourceService.lensPrefix}}</span>Lens</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <side-nav></side-nav>
    <ul class="navbar-nav ml-auto">
      
    </ul>
  </div>
</nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>

