.content {
    position: absolute;
    height:100%;
    width: 100%;
}

.container-fluid {
    height: calc(100% - 56px);
}

.main-content {
    padding-left: 250px;
    height: 100%;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .main-content {
        padding-left: 250px;
    }
}