.edit-button{
    float:right;
    margin-top: 10px;
}

.dynamic-data-container {
    margin-bottom: 30px;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.content-header>h1>small {
    font-size: 15px;
    padding-left: 4px;
    font-weight: 300;
}

.description {
    color: #666;
}

.content-header {
    position: relative;
    padding: 0px;
}