#scroll-container {
    overflow-y: scroll;
    height:100%;
}

:host-context(.dark-theme) ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
:host-context(.dark-theme) ::-webkit-scrollbar-track {
    background: #222d32;
}
 
/* Handle */
:host-context(.dark-theme) ::-webkit-scrollbar-thumb {
    background: #838383;
}

/* Handle on hover */
:host-context(.dark-theme) ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}