.caseTable{
    text-align: center;
    background-color: white;
}

.caseTable table{
    display: inline-table;
}

th{
    text-align: center;
}

code{
    text-align: left;
}

pre{
    text-align: left;
}

.table-primary{
    background-color:#b8daff;
}

.table-primary:hover{
    background-color:#98badf;
}

#ccTextAreaOther{
    width: 100%;
    height: 10em;
}