<div class="side-nav">
    <ul style="list-style:none">
        <li (click)="navigate('frontends')"><a>Front Ends</a></li>
        <li (click)="navigate('cpu')"><a>CPU</a></li>
    </ul>
</div>

<!-- <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
</ul> -->