<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Kusto" value="https://1essharedassets.pkgs.visualstudio.com/_packaging/Kusto/nuget/v3/index.json" />
  </activePackageSource>
</configuration>