<div *ngIf="loading">Searching for site ...</div>
<div *ngIf="!loading && matchingSites.length === 0">Site {{site}} not found</div>
<div *ngIf="!loading && matchingSites.length > 0">
  
  <div class="" style="width:100%;padding:50px">
      <div style="color:white"><h3>Multiple sites with the name '{{matchingSites[0].SiteName}}' found. Pick the correct one:</h3></div>
    <div class="" style="margin:5px;float:left" *ngFor="let site of matchingSites">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{site.SiteName}}<span *ngIf="site.SlotName && site.SlotName.length > 0">({{site.SlotName}})</span></h5>
          <p class="card-text">{{site.Subscription}}</p>
          <p class="card-text">{{site.ResourceGroupName}}</p>
          <p class="card-text">{{site.StampName}}</p>
          <a (click)="navigateToSite(site)"
            class="btn btn-primary">Select</a>
        </div>
      </div>
    </div>
  </div>
</div>