.not-expandable {
    cursor: auto;
    padding-left: 28px;
}

.section-expand-icon {
    min-width: 10px;
}

.expandable-content {
    overflow-y: hidden;
}

.section-divider {
    cursor: pointer;   
    display: flex;
    align-items: center;
}

/* DARK THEME */

:host-context(.dark-theme) .section-divider {
    color: #adadad;
    background-color: #000000;
    padding: 5px 25px 5px 15px;
    font-weight: 600;
    font-size: 12px;
}

/* LIGHT THEME */


:host-context(.light-theme) .section-divider {
    border-bottom: 1px solid #ccc;
}

:host-context(.light-theme) .section-divider {
    color: #252525;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    padding: 20px 25px 7px 15px;
}

:host-context(.light-theme) .menu,
:host-context(.light-theme) .main-sidebar {
    background-color: #ffffff
}