#resourceImage {
    width: 20px;
    height: 20px;
}

.nav-item {
    padding: 10px;
    background-color: #545a61;
}

.nav-item-selected {
    background-color: #1f1f1f;
}

.nav-link-text {
    overflow-wrap: break-word;
}

.inline {
    display: inline-block;
}