<!-- This is the common template for rendering insights. 
     If there is a title I will wrap it in a container, 
     otherwise I will show it by itself -->
<ng-template #insightView>
  <div *ngFor="let insight of insights" class="insight-container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title" [class.clickable-header]="insight.hasData()" (click)="toggleInsightStatus(insight)">
          <span class="fa status-icon" [class.fa-exclamation-circle]="insight.status === InsightStatus.Critical" [class.fa-exclamation-triangle]="insight.status === InsightStatus.Warning"
            [class.fa-check-circle]="insight.status === InsightStatus.Success" [class.fa-info-circle]="insight.status === InsightStatus.Info"></span>
          {{insight.title}}

          <span *ngIf="insight.hasData()" class="fa expand-icon" [class.fa-angle-down]="!insight.isExpanded" [class.fa-angle-up]="insight.isExpanded"></span>
        </h5>
      </div>

      <div class="panel-body" *ngIf="insight.isExpanded">
        <table>
          <tbody>
            <tr *ngFor="let key of insight.getKeys()">
              <td class="table-key">
                <b>{{key}}</b>
              </td>
              <td class="table-value">
                <div *ngIf="!isMarkdown(insight.data[key])" [innerHtml]="insight.data[key]"></div>
                <markdown [data]="getMarkdown(insight.data[key])" *ngIf="isMarkdown(insight.data[key])"></markdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<!-- If there is title wrap it in container -->
<data-container *ngIf="renderingProperties.title; else noContainer" [title]="renderingProperties.title" [description]="renderingProperties.description">
  <ng-container *ngTemplateOutlet="insightView"></ng-container>
</data-container>

<!-- If there is no title, do not use container. Note this is called from the else statement in the *ngIf above -->
<ng-template #noContainer>
  <ng-container *ngTemplateOutlet="insightView"></ng-container>
</ng-template>