<div *ngIf="detectorDataLocalCopy">
    <div>
      <h2>{{detectorDataLocalCopy.metadata.name}}</h2>
      <p>{{detectorDataLocalCopy.metadata.description}}</p>
    </div>
    
    <div *ngFor="let data of detectorDataLocalCopy.dataset" style="margin-bottom:20px">
      <dynamic-data [diagnosticData]="data"></dynamic-data>
    </div>
  </div>
  <div *ngIf="!detectorDataLocalCopy && !errorState">
    Loading...
  </div>
  
  <ng-container *ngIf="!detectorDataLocalCopy && errorState">
      Error loading detector
  </ng-container>
  